@media (max-width:600px){
    .container-statement{
        margin: auto !important;
        margin-top: -50px !important;
        width: 100% !important;
        display: flex !important;
        justify-content: center;
    }
    p{
        font-size: 15px !important;
        width: 100% !important;
        padding: 8px;
    }
}