
@media (max-width:600px){
    .container-bio{
        margin: auto !important;
        margin-top: -55px !important;
        width: 90% !important;
        position: relative;
        top: 0px !important;
        left: 0px !important;
    }
    .div-bio{
        width: 100%;
    }

}