/* nav.css */
.nav-link {
  font-size: 20px;
  color: black;
  cursor: pointer; /* Añadir cursor pointer para los enlaces */
}

.container-fluid {
  margin-left: 20px;
}

.navbar {
  width: auto !important;
}

img {
  margin-right: 0 !important;
}

.navbar-nav {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.submenu {
  position: absolute;
  top: 106px;
  left: 180px;
  display: none;
  z-index: 1;
}

.navbar-nav .nav-item .submenu {
  display: block;
}

.submenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.submenu ul li {
  margin-left: 0;
  padding: 10px;
  position: relative;
}

.submenu ul li::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.submenu ul li a {
  color: black;
  text-decoration: none;
  cursor: pointer; /* Añadir cursor pointer para los enlaces en el submenu */
}

@media (max-width: 600px) {
  .navbar-toggler {
    margin-top: -150px !important;
  }

  .navbar-collapse {
    display: none;
  }

  .navbar-collapse.show {
    display: block;
  }

  .submenu {
    display: block;
  }
}
