.container-projects{
        height: '400px';
        position: 'fixed';
        top: '70%';
        left: '80%';
        transform: 'translate(-50%, -50%)';
        overflow: 'hidden';
}
.project-unit{
    width: '100%';
    height: '400px';
    overflow: 'hidden';
    position: 'relative';
    left: -100px;
}
.project-container {
    width: 100%;
    max-width: 200px;
    margin-left: 0px; 
    margin: 0 auto; 
    padding: 20px;
    box-sizing: border-box; 
  }
  .description-container {
    width: 250px;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: normal; 
    word-wrap: break-word; 
  }

.image-container{
    display: 'inline-block';
    margin-right: '10px';
    position: 'relative';
}
.image-container img {
    width: 500px;
    height: 300px;
  }
@media (max-width: 600px) {
    @media (max-width: 600px) {
        .container-projects {
          width: calc(100% - 50px) !important; /* Ajustar el ancho relativo */
          height: 400px !important; /* Mantener la altura fija */
          position: fixed !important;
          top: 70% !important; /* Mantener el valor para la posición superior */
          left: 50% !important; /* Ajustar la posición horizontal */
          transform: translate(-50%, -50%)  !important;
          overflow: hidden  !important;
        }
        .project-container{
            margin-right: 100px;
        }
        .project-unit {
            overflow: visible !important;
            left: -1000px;
          }
          .project-container h3{
            margin-top: 0px !important;
          }
        .project-container span{
            display:block !important;
        }
        .image-container img {
            width: 250px;
            height: 150px;
          }
}}